# Exercise 1
### Write a program that asks the user for a word and displays it on the screen 10 times.

In [2]:
name = input("Your name, please: ")

for i in range(10):
    print(name)

Your name, please: Leon Lopez
Leon Lopez
Leon Lopez
Leon Lopez
Leon Lopez
Leon Lopez
Leon Lopez
Leon Lopez
Leon Lopez
Leon Lopez
Leon Lopez

# Exercise 2
### Write a program that asks the user his/her age and shows on screen all the years  (from 1 to his/her age).

In [9]:
age = int(input("Your age please: "))

for i in range(age):
    print(i+1, end=" ")

Your age please: 15
1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

# Exercise 3
### Write a program that asks the user for a positive integer and displays all odd numbers from 1 to that number separated by commas.

In [4]:
number = int(input('Introduce a number: '))

for i in range(1, number+1, 2): #From 1 to n+1 jumping two positions
    print(i, end=",")

Introduce a number: 10
1,3,5,7,9,

# Exercise 4
### Write a program that asks the user for a positive integer and displays the countdown from that number to zero separated by commas.

In [3]:
number = int(input('Introduce a number: '))

for i in range(number, 0, -1): #The countdown is done with -1
    print(i, end=",")

Introduce a number: 10
10,9,8,7,6,5,4,3,2,1,

# Exercise 5
### Write a program that asks the user an amount to invest, the annual interest and the number of years, and shows by screen the capital obtained in the investment each year that the investment lasts.

In [2]:
invest = float(input("Amount to invest: "))
interest = float(input("Annual Interest(in %): "))
years = int(input("Number of years: "))

for i in range(years):
    invest = invest + (invest*(interest/100))
    
    print("Year ", i+1, ": ", round(invest, 3))

Amount to invest: 1000
Annual Interest(in %): 10
Number of years: 5
Year  1 :  1100.0
Year  2 :  1210.0
Year  3 :  1331.0
Year  4 :  1464.1
Year  5 :  1610.51

# Exercise 6
### Write a program that asks the user for a whole number and displays a right triangle of height the number entered.

In [1]:
high = int(input('Introduce a number: '))

for i in range(high):
    print('*'*(i+1))

Introduce a number: 20
*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************
****************
*****************
******************
*******************
********************

# Exercise 7
### Write a program that displays the multiplication table from 1 to 10.

In [20]:
for i in range(10):
    print("Table ", i+1, ": ")
    for j in range(10):
        print((i+1)*(j+1), end="\t");
    print("\n")

Table  1 :
1	2	3	4	5	6	7	8	9	10

Table  2 :
2	4	6	8	10	12	14	16	18	20

Table  3 :
3	6	9	12	15	18	21	24	27	30

Table  4 :
4	8	12	16	20	24	28	32	36	40

Table  5 :
5	10	15	20	25	30	35	40	45	50

Table  6 :
6	12	18	24	30	36	42	48	54	60

Table  7 :
7	14	21	28	35	42	49	56	63	70

Table  8 :
8	16	24	32	40	48	56	64	72	80

Table  9 :
9	18	27	36	45	54	63	72	81	90

Table  10 :
10	20	30	40	50	60	70	80	90	100

# Exercise 8
### Write a program that asks the user for a whole number and displays a right triangle with odd numbers.

In [32]:
high = int(input('Introduce the high: '))

for i in range(1, high+1, 2):
    for j in range(i, 0, -2):
        print(j, end=" ")
    print('\n')

Introduce the high: 5
1

3 1

5 3 1